# Ignore everything in the work tree
*

# Only allow config files
!.gitignore
!.bashrc
!.vimrc
!.config/
!.config/**

# Except for the following config files
.config/dconf
.config/Code - OSS
.config/Electron
.config/go
