* {
    border: none;
    border-radius: 0;
    font-family: "FiraCode Nerd Font", sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0.5);
    border-bottom: 2px solid #282a36;
    color: #f8f8f2;
}

#workspaces button {
    padding: 0 10px;
    background: transparent;
    color: #f8f8f2;
    border-bottom: 2px solid transparent;
}

#workspaces button.active {
    border-bottom: 2px solid #bd93f9;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#clock,
#pulseaudio {
    padding: 0 10px;
    color: #f8f8f2;
}

